<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <%
    if(imagePath.length!=0){
    imagePath.forEach(function(data){
    %>

        <!-- <img src="../uploads/users/avatars/p1.png" width="200px> -->
    <img src="../uploads/users/avatars/<%=data.user_image; %>" width="200px">
  
    
    <%  }) %>
    <% } else{ %>
       
            <p>No Image in the Database</p>
        
    <% } %>


</body>
</html>